//-----------------------------------------------variables--------------------------------------------------------------
$mainColor: #333333;
$blackColor: #000000;
$grayColor: #828282;
$grayTextColor: #4F4F4F;
$gray2Color: #BDBDBD;
$gray3Color: #E0E0E0;
$whiteColor: #FFFFFF;
$blueColor: #2F80ED;
$blueButtonColor: #DAE4FD;
$blueWhiteColor: #F8F9FD;
$redColor: #EB5757;
$containerWidth: 1440px;
$mainFont: 'Poppins', sans-serif;
$secondaryFont: 'Noto Sans', sans-serif;
//-----------------------------------------------cleaning elements------------------------------------------------------
*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul, ol, li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}
body {
  padding: 5px;
  height: 100%;
  line-height: 1;
  font-size: 20px;
  background-color: $mainColor;
  color: $grayColor;
  font-weight: 400;
  font-family: $mainFont;
}
//-----------------------------------------------tech classes-----------------------------------------------------------
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: $containerWidth;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;
}
.button {
  font-family: $secondaryFont;
  border-radius: 8px;
  padding: 8px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.035em;
}
//-----------------------------------------------header-----------------------------------------------------------------
.header {
  width: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  z-index: 1;
  &__container {
    display: flex;
    min-height: 69px;
    align-items: center;
    justify-content: space-between;
    background-color: $whiteColor;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  &__logo {
    display: flex;
    gap: 12px;
    margin-right: 20px;
    &__image {
      height: 34px;
      width: 32px;
    }
    &__title {
      font-weight: 600;
      font-style: normal;
      font-size: 18px;
      line-height: 27px;
      color: $mainColor;
      display: flex;
      align-items: center;
    }
  }
  &__select-date {
    display: flex;
    align-items: center;
  }
  &__select {
    height: 34px;
    border-radius: 8px;
    box-shadow:(0px 4px 12px rgba(0, 0, 0, 0.1));
    color: $blueColor;
  }
  &__search {
    max-width: 338px;
    &__form {
      display: flex;
      justify-content: space-between;
      padding: 2px 0 2px 2px;
      height: 34px;
      border-radius: 8px;
      box-shadow:(0px 4px 12px rgba(0, 0, 0, 0.1));
      position: relative;
    }
    &__input {
      min-width: 250px;
      height: 30px;
      color: #BDBDBD;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 15px;
      &::placeholder {
        color: #BDBDBD;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
    &__button {
      width: 74px;
      height: 30px;
      background-color: $blueColor;
      border-radius: 8px;
      color: $whiteColor;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 15px;
      text-align: center;
    }
    &__span {
      background-color: red;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      color: $whiteColor;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      font-size: 10px;
      left: 316px;
      bottom: 21px;
    }
  }
  &__separator {
    width: 35px;
    height: 0;
    border: 1px solid $gray3Color;
    transform: rotate(90deg);
  }
  &__date {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow:(0px 4px 12px rgba(0, 0, 0, 0.1));
    padding: 2px;
    min-width: 60px;
    height: 34px;
  }
}
.date {
  color: $mainColor;
  &__day {
    margin-right: 15px;
  }
  &__hours {
    color: $blueColor;
  }
  &__divider {
    color: $blueColor;
  }
  &__minutes {
    color: $blueColor;
  }
}
.transparent {
  color: transparent;
}
.hide {
  display: none;
}
@media screen and (max-width: 860px) {
  .header__search {
    &__input{
      min-width: 100px;
    }
    &__span {
      left: 170px;
    }
  }
}
@media screen and (max-width: 650px) {
  .date__day{
    margin-right: 0;
  }
}
@media screen and (max-width: 550px) {
  .header__container {
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100px;
  }
}
@media screen and (max-width: 420px) {
  .header__separator {
    display: none;
  }
  .header__select-date {
    gap: 10px;
  }
}
//-----------------------------------------------main-block-------------------------------------------------------------
.main-block {
  width: 100%;
  &__container {
    display: flex;
    min-height: 90vh;
    justify-content: space-between;
    background-color: $whiteColor;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 24px 24px 0;
    &__background {
      display: flex;
      justify-content: space-between;
      gap: 1vw;
      padding: 24px 24px 0;
      min-width: 100%;
      min-height: 90%;
      background-color: $blueWhiteColor;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
    }
  }
  &__list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 32%;
    &__title {
      display: flex;
      justify-content: space-evenly;
    }
    &__title h2{
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: $mainColor;
      margin-bottom: 17px;
    }
    &__cards {
      max-height: 68vh;
      display: flex;
      flex-direction: column;
      gap: 0.5vw;
      overflow: scroll;
      &__in-progress {
        max-height: 74vh;
      }
    }
  }
}
.list {
  &__todo {
    &__button{
      display: flex;
      justify-content: space-between;
      color: $blueColor;
      background-color: $blueButtonColor;
    }
  }
  &__completed {
    &__button {
      color: $redColor;
      background-color: rgba(235, 87, 87, 0.1);
    }
  }
}
@media screen and (max-width: 767px) {
  .main-block__container {
    &__background {
      flex-wrap: wrap;
      gap: 4vw;
      padding-bottom: 24px;
    }
  }
  .main-block__list {
    &__title h2 {
      margin-bottom: 0;
    }
  }
}
//-----------------------------------------------card-template----------------------------------------------------------
.card-template {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: $whiteColor;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 12px;
  &:hover>button {
    opacity: 1;
  }
  &__title{
    font-family: $mainFont;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: $blackColor;
    margin-bottom: 10px;
  }
  &__button {
    border-radius: 8px;
    background-color: $whiteColor;
    opacity: 0;
    &__image {
      width: 24px;
      height: 24px;
    }
  }
  &__description {
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.035em;
    color: $grayTextColor;
    margin-bottom: 10px;
  }
  &__user {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: $blueColor;
  }
  &__created-at {
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.035em;
    color: $mainColor;
  }
}
@media screen and (max-width: 1070px) {
  .card-template {
    &__title {
      font-size: 16px;
    }
    &__description {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
@media screen and (max-width: 910px) {
  .card-template {
    &__title {
      font-size: 20px;
      letter-spacing: -0.035em;
    }
    &__description {
      font-size: 10px;
      line-height: 12px;
    }
  }
}
@media screen and (max-width: 767px) {
  .card-template {
    &__title {
      font-size: 18px;
      letter-spacing: -0.035em;
    }
    &__description {
      font-size: 14px;
      line-height: 19px;
    }
  }
}
@media screen and (max-width: 400px) {
  .card-template {
    &__title {
      font-size: 16px;
    }
  }
}
