@import "variables.scss";
//-----------------------------------------------tech classes-----------------------------------------------------------
.wrapper {
  min-height: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: $containerWidth;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;
}
.button {
  font-family: $secondaryFont;
  border-radius: 8px;
  padding: 8px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.035em;
}
