//-----------------------------------------------variables--------------------------------------------------------------
$mainColor: #333333;
$blackColor: #000000;
$grayColor: #828282;
$grayTextColor: #4F4F4F;
$gray2Color: #BDBDBD;
$gray3Color: #E0E0E0;
$whiteColor: #FFFFFF;
$blueColor: #2F80ED;
$blueButtonColor: #DAE4FD;
$blueWhiteColor: #F8F9FD;
$redColor: #EB5757;
$containerWidth: 1440px;
$mainFont: 'Poppins', sans-serif;
$secondaryFont: 'Noto Sans', sans-serif;
$desktopTransformWidth: 1070px;
$tabletWidth: 890px;
$tabletDataTransformWidth: 649px;
$tabletHeaderTransformWidth: 535px;
$mobileWidth: 820px;
$mobileTransformWidth: 420px;
